@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Instrument+Serif:ital@0;1&family=Mouse+Memoirs&family=Playwrite+DE+Grund:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mouse+Memoirs&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playwrite+DE+Grund:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rasa:ital,wght@0,300..700;1,300..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@layer tailwind-base, antd;
@layer tailwind-base {
    @tailwind base;
}
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.form__input {
    @apply !rounded-none !border-0 !border-b !bg-transparent !shadow-none;

    &:hover {
        @apply !bg-transparent;
    }

    &:focus {
        @apply !bg-transparent;
    }

    &:placeholder {
        @apply !text-black;
    }
}

.form__button {
    @apply !m-auto !flex !justify-center !rounded-full !bg-[#E9DAE9] !font-bold !text-black;
}

ul {
    list-style-type: disc !important;
}

ol {
    list-style-type: decimal !important;
}

.ck-content ul,
.ck-content ol {
    list-style-type: disc !important; /* Cho danh sách không thứ tự */
    padding-left: 20px !important;
}

.ck-content ol {
    list-style-type: decimal !important; /* Cho danh sách có thứ tự */
}
