@keyframes backpack {
    0% {
        transform: translate(0) rotate(0deg);
    }
    50% {
        transform: translateY(-10%) rotate(10deg);
    }
    100% {
        transform: translate(0) rotate(0deg);
    }
}

@keyframes globe {
    0% {
        transform: translate(0) rotate(0deg);
    }
    50% {
        transform: translateX(10%) rotate(180deg);
    }
    100% {
        transform: translate(0) rotate(360deg);
    }
}

@keyframes calculator {
    0% {
        transform: scale(1) translateY(0);
    }
    50% {
        transform: scale(1.1) translateY(-10%);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

@keyframes scissors {
    0% {
        transform: translate(0) rotate(0deg);
    }
    50% {
        transform: translate(-10%) rotate(30deg);
    }
    100% {
        transform: translate(0) rotate(0deg);
    }
}

@keyframes pencil {
    0% {
        transform: translate(0) scale(1);
    }
    50% {
        transform: translateY(15%) scale(1.05);
    }
    100% {
        transform: translate(0) scale(1);
    }
}

@keyframes crayons {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateX(-10%) rotate(-10deg);
    }
    100% {
        transform: translate(0);
    }
}
